:root {
  --color-withe: hsl(252, 30%, 100%);
  --color-light: hsl(252, 30%, 95%);
  --color-gray: hsl(252, 15%, 65%);
  --color-primary: hsl(252, 75%, 60%);
  --color-secondary: hsl(252, 100%, 90%);
  --color-success: hsl(120, 95%, 65%);
  --color-danger: hsl(0, 95%, 65%);
  --color-dark: hsl(252, 30%, 17%);
  --color-black: hsl(252, 30%, 10%);

  --border-radius: 2rem;
  --card-border-radius: 1rem;
  --btn-padding: 0.6rem 2rem;
  --search-padding: 0.6rem 1rem;
  --card-padding: 1rem;

  --sticky-top-left: 5.4rem;
  --sticky-top-right: -18rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
}

/** {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}*/

body {
  width: 390px;
  height: 844px;
  background: linear-gradient(
    160.2deg,
    #ffd4db 36.49%,
    rgba(3, 0, 157, 0.83) 121.67%
  );
  background-attachment: fixed;
  overflow: hidden;
}

.text-logo,
.img-logo {
  visibility: hidden;
}

.arrow {
  position: absolute;
  left: 5%;
  top: 5%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: none;
  border: none;
  cursor: pointer;
}

i {
  color: white;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.form {
  box-sizing: border-box;
  width: 359px;
  height: 557px;
  background: linear-gradient(
    91.13deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.129) 111.87%
  );
  border-radius: 80px;
  backdrop-filter: blur(19px);
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.3);
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.form-2 {
  padding-top: 4rem;
}

.title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 24px;
  /* or 83% */
  text-align: center;
  color: #4422cf;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.input-field {
  padding: 8px;
  margin-top: 12px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.4);
  border-radius: 31px;
  background: rgba(255, 255, 255, 0.46);
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-login,
.text-create {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #4422cf;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#btn-login {
  margin-top: 30px;
  margin-left: 20px;
  background: linear-gradient(95.9deg, #1734cc -28.78%, #6713d2 138.06%);
  border-radius: 30px;
  color: white;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 15px;
  text-align: center;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#btn-create {
  margin-top: 30px;
  margin-left: 20px;
  background: linear-gradient(95.9deg, #1734cc -28.78%, #6713d2 138.06%);
  border-radius: 30px;
  color: white;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 18px;
  text-align: center;
  border: none;
  width: 93%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.or-login,
.or-create {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 20px;
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.or-login,
.or-login,
.or-create,
.or-create {
  position: relative;
}

.or-login::after,
.or-login::before,
.or-create::after,
.or-create::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 2px;
  background-color: white;
  top: 10px;
}

.or-login::before,
.or-create::before {
  left: 30px;
}

.or-login::after,
.or-create::after {
  right: 30px;
}

.social {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.social a {
  display: flex;
  width: 2rem;
  height: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.973);
  text-decoration: none;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
  transition: all 300ms ease;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.social a:hover {
  background: linear-gradient(95.9deg, #1734cc -28.78%, #6713d2 138.06%);
  color: black;
}

.registered {
  font-family: "Poppins", sans-serif;
  margin-top: 1.5rem;
  color: white;
  font-size: 1rem;
}

.href-create-account, .href-forgot-password {
  text-decoration: none;
  color: #4422cf;
  cursor: pointer;
  margin-left: 0.5rem;
}

/* Plato */
.plate-img {
  display: none;
}

.rotate-plate {
  display: none;
}

/* PAGE 404 STYLES */

.body-404 {
  background: #fff;
  /* Make it white if you need */
  color: black;
}

.container-main {
  margin-top: 10%;
  display: grid;
  grid-template-columns: 50vw 50vw;
  column-gap: 3rem;
  font-family: "Poppins", sans-serif;
}

.container404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  margin-left: 30%;
}

.page-not-found {
  color: #4422cf;
}

.img-404 {
  width: 400px;
  height: 350px;
  border-radius: 40px;
  color: #4422cf;
}

.hyperlink-404 {
  text-decoration: none;
  color: #4422cf;
  font-weight: bolder;
}

/*Media query Login */
@media (min-width: 992px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3vw;
  }

  /*Form*/
  .form {
    width: 28vw;
    background: rgba(0, 0, 0, 0.09);
    backdrop-filter: blur(19px);
    height: 32rem;
  }

  .name-social {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 9vw;
    margin-top: 1vw;
    height: 100px;
    top: 5vw;
  }

  .registered {
    margin: auto;
  }

  .img-logo {
    width: 50px;
    visibility: visible;
  }

  .text-logo {
    font-family: "Poppins", sans-serif;
    color: #4422cf;
    visibility: visible;
  }

  .plate-container {
    margin: auto;
  }

  .plate-img {
    width: 35vw;
    display: block;
    margin-left: 12vw;
    animation: animatedPlate 9s linear forwards infinite;
  }
}

@keyframes animatedPlate {
  to {
    transform: rotate(360deg);
  }
}

/*splash screen*/

.logoAnimation {
  position: fixed;
  top: 20%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  height: 13vh;
  z-index: -200;
  align-items: center;
}

.title-header {
  position: fixed;
  top: 40%;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 200;
  color: white;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.dishared-init {
  color: #4422cf;
}

.title-init {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 50;
}

.init {
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    160.2deg,
    #ffd4db 36.49%,
    rgba(3, 0, 157, 0.83) 121.67%
  );
  background-color: white;
  background-attachment: fixed;
}

.init.display-none {
  position: fixed;
  opacity: 0;
  z-index: -200;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    160.2deg,
    #ffd4db 36.49%,
    rgba(3, 0, 157, 0.83) 121.67%
  );
  background-color: white;
  background-attachment: fixed;
  transition: all 0.5s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

/*feed style*/

.feed-container {
  font-family: "Poppins", sans-serif;
  width: 100vw;
  color: var(--color-dark);
  background: var(--color-light);
  overflow-x: hidden;
  height: 100vh;
  margin: 0 auto;
}

.logo-nav,
.img-nav {
  width: 70px;
  height: 60px;
  margin-bottom: 10px;
}

.profile-photo {
  width: 43px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}

img.profilePhoto {
  display: block;
  width: 100%;
}

.btn {
  display: inline-block;
  padding: var(--btn-padding);
  font-weight: 500;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 300ms ease;
  font-size: 14px;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background: var(--color-primary);
  color: white;
}

.text-bold {
  font-weight: 500;
}

.text-muted {
  color: var(--color-gray);
}

/* ==================== NAVBAR ========== */

nav {
  width: 100%;
  background: var(--color-withe);
  padding: 11px 0;
  position: fixed;
  top: 0;
  z-index: 10;
}

.text-dishared {
  font-size: 30px;
}

.logo-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* nav with profile photo and icon log out */

.divNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

nav .profile-photo {
  width: 50px;
}

/* icon log out  */

.fa-right-from-bracket:before,
.fa-sign-out-alt:before {
  color: var(--color-primary);
  cursor: pointer;
}

nav .container-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 200px;
}

.search-bar {
  background: var(--color-light);
  border-radius: var(--border-radius);
  padding: var(--search-padding);
}

.search-bar input[type="search"] {
  background: transparent;
  width: 30vw;
  /* view window page */
  margin-left: 16px;
  font-size: 14px;
  color: var(--color-dark);
}

nav .search-bar input [type="search"]::placeholder {
  color: var(--color-gray);
}

/* icon for search */

.fa-magnifying-glass:before,
.fa-search:before {
  color: var(--color-primary);
}

/* ===================== MAIN ==========*/
main {
  position: relative;
  top: 86px;
}

main .container-feed {
  display: grid;
  grid-template-columns: 35vh 50vw 20vw;
  column-gap: 4rem;
  margin-top: 30px;
}

/* --------------- LEFT ---------------------- */

main .sidebar-left {
  height: max-content;
  position: sticky;
  top: var(--sticky-top-left);
  margin-left: 40px;
}

main .sidebar-left .profile-left {
  padding: var(--card-padding);
  background: var(--color-withe);
  border-radius: var(--card-border-radius);
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  width: 100%;
}

/* ////////////////// SIDEBAR //////////// */

.sidebar-left .sidebar {
  margin-top: 1rem;
  background: var(--color-withe);
  border-radius: var(--card-border-radius);
  display: flex;
  flex-direction: column;
}

.sidebar-left .sidebar .menu-item {
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 10px;
  cursor: pointer;
  translate: all 300ms ease;
  position: relative;
  font-size: 14px;
}

/* icons sidebar */

.fa-home-lg:before,
.fa-house-chimney:before,
.fa-compass:before,
.fa-bell:before,
.fa-envelope:before {
  color: var(--color-primary);
}

.sidebar-left i {
  margin-right: 10px;
}

.sidebar-left .notification-count {
  background: var(--color-danger);
  color: white;
  font-size: 0.7rem;
  border-radius: 50%;
  padding: 0.5rem;
  position: absolute;
  top: 0.5rem;
  right: 12rem;
}

.sidebar-left .sidebar .menu-item:hover {
  background-color: var(--color-light);
  width: 100%;
}

/* /////////////////////////    MIDDLE      //////////////// */

.middle .create-post {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  background: var(--color-withe);
  padding: 0.4rem var(--card-padding);
  border-radius: var(--border-radius);
}

.middle .create-post input[type="text"] {
  justify-self: start;
  width: 100%;
  padding-left: 1rem;
  background: transparent;
  color: var(--color-dark);
  margin-right: 1rem;
}
.fa-image:before {
  content: "\f03e";
  color: var(--color-primary);
}
/* //////////////////// FEEDS //////////////// */


.middle .feeds .feed {
  background: var(--color-withe);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  margin: 1rem 0;
  font-size: 0.85rem;
  line-height: 1.5;
}

.middle .feed .head {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.middle .feed .user {
  display: flex;
  gap:1rem;
}

.middle .feed .photo {
  border-radius: var(--card-border-radius);
  overflow: hidden;
  margin: 0.7rem 0;
}

.middle img {
  display: block;
  width: 100%;
}

.middle .feed .action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  margin: 0.6rem;
}

.interaction-buttons {
  display: flex;
  gap: 10px;
}

.fa-heart:before,
.fa-comment:before,
.fa-share:before,
.fa-bookmark:before,
.fa-ellipsis:before {
  color: var(--color-primary);
}

.middle .liked-by {
  display: flex;
}

.middle .liked-by span {
  width: 1.4rem;
  height: 1.4rem;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--color-withe);
  margin-left: -0.6rem;
}

.middle .liked-by span:first-child {
  margin: 0;
}

.middle .liked-by p {
  margin-left: 0.5rem;
}


/* ///////////////// RIGHT ////////////////*/

.main .container-feed .right {
  height: max-content;
  position: sticky;
  top: var(--sticky-top-right);
  bottom: 0;
}

.right .messages {
  background: var(--color-withe);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
}

.right .messages .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.right .messages i {
  font-size: 1.4rem;
}

.right .messages .search-bar {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 90%;
}

.right .messages .category {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.feed-container {
  font-family: "Poppins", sans-serif;
  width: 100vw;
  color: var(--color-dark);
  background: var(--color-light);
  overflow-x: hidden;
  height: 100vh;
  margin: 0 auto;
}

.logo-nav,
.img-nav {
  width: 70px;
  height: 60px;
  margin-bottom: 10px;
}

.profile-photo {
  width: 43px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}

img.profilePhoto {
  display: block;
  width: 100%;
}

.right .messages .category h6 {
  width: 100%;
  text-align: center;
  border-bottom: 4px solid var(--color-light);
  padding-bottom: 0.5rem;
  font-size: 0.85rem;
}

.right .messages .category .active {
  border-color: var(--color-dark);
}

.right .messages .message-requests {
  color: var(--color-primary);
}

.right .messages .message {
  display: flex;
}

.right .messages .message .message-body {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  /* gap: 1rem; */
  margin-bottom: 1rem;
  align-items: start;
}

.right .messages .message p {
  font-size: 0.8rem;
}

.right .message .profile-photo {
  position: relative;
  /* overflow: hidden; */
}

.right .message .profile-photo img {
  width: 100%;
  height: 100%;
}

.right .messages .message:last-child {
  margin: 0;
}

.right .messages .message p {
  font-size: 0.8rem;
}

.right .messages .message .profile-photo .active {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  border: 3px solid var(--color-withe);
  background: var(--color-success);
  position: absolute;
  bottom: 0;
  right: 0;
}

/* /////////////// FRIEND REQUESTS /////////*/

.right .friend-request {
  margin-top: 1rem;
}

.right .friend-request h4 {
  color: var(--color-gray);
  margin: 2rem 0;
}

.right .request {
  background: var(--color-withe);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-bottom: 0.7rem;
}

.right .request .info {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.right .request .action {
  display: flex;
  gap: 1rem;
}

.fa-solid {
  background: none;
  cursor: pointer;
}
